.vs/*
bin/*
bin-int/*
Wolf3D/external/Glad/bin/*
Wolf3D/external/Glad/bin-int/*
Wolf3D/external/Imgui/bin/*
Wolf3D/external/Imgui/bin-int/*
vcxproj.user*
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
Makefile
Wolf3D/Makefile
Wolf3D/external/Glad/Makefile
Wolf3D/Sample/Makefile
